
@{
    ViewBag.Title = "SalesManager";
    Layout = "~/Views/Shared/LayoutPageForSalesManager.cshtml";
}

<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
    }

    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<body>

    <div class="w3-content">

        <br /><br /><br /><br /><br /><br /><br />

        <img class="mySlides" src="~/ProductFeatures_desktop_01.png" alt="custom_html_banner1" style="width:1700px">
        <div class="center-block"></div>
    </div>
</body>